Flask==2.2.5
Flask-Bcrypt==1.0.1
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
matplotlib==3.7.2
requests==2.31.0
tinydb==4.8.0
Werkzeug==2.2.3
WTForms==3.0.1
SQLAlchemy==2.0.15
email-validator==2.0.0.post2
bcrypt==4.0.1
blinker==1.6.2
connexion==2.14.2
decorator==5.1.1