{% extends 'base.html' %}

{% block head %}
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
</style>
{% endblock head %}


{% block border %}
<body>
    <title>Edit</title>
{% endblock border %}
{% block body %}
<form action="" method="post" class="card">
    <img src={{data.image}} alt="" style="width:100%">
    <h1>{{data.product_name}}</h1>
    <p class="price">₨ {{data.price}}</p>
    <p>{{data.detail}}</p>
    <p>Quntity <input type="number" name="stock" placeholder="{{data.stock}}"></p>
    <p><button type="submit" name="add" id="add" onclick="form.submit()">Edit</button></p>
  </form>
{% endblock body %}
